extends layouts/main.pug

block content
  include /partials/timer.pug
  main.content
    each item in selectedPosts
      article.content__article(style="left:17%; top:15%")
        if item.imgUrl
          img.content__image(src=item.imgUrl, alt='Фотка не пойми чего')
        if item.message
          p.content__text= item.message
        p.content__text.content__text--channel= item.channelTitle
  //- script.
  //-   console.log(selectedPosts);
