@import 'node_modules/normalize.css/normalize';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #000;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: Times, serif;
  color: $color-text;
  font-style: normal;

  transition: all 200ms;

  @media #{$tablet} {
    overflow: hidden;
  }
}
